<div class="card mt-2">
	<div class="card-header">
		<h4 class="mb-0">
		<i class="fas fa-file-alt"></i> Technical Metadata
		<span class="float-right"
			><i
			class="fas fa-sync-alt clickable fa-sm"
			ngbTooltip="Reload the list of metadata"
			(click)="list();"
			></i
		></span>
		</h4>
	</div>
	<div class="card-block">
		<div class="table-responsive">
			<div class="table-wrapper" #tableWrapper>
				<ngx-spinner [fullScreen]="false"></ngx-spinner>
				<ngx-datatable
					#samplesTable
					class="bootstrap expandable"
					[rows]="data"
					[columns]="columns"
					[columnMode]="ColumnMode.flex"
					[headerHeight]="40"
					[footerHeight]="40"
					[externalPaging]="true"
					[count]="paging.dataLength"
					[limit]="paging.itemsPerPage"
					[offset]="paging.page"
					[rowHeight]="'auto'"
				>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>