<div ng-if="ctrl.loading" ng-include="main.templateDir + 'loader.html'"></div>

<div class="row" ng-if="!profile.isAdmin">
  <div class="col-xs-12 text-center">
    <div class="panel panel-danger">
      <div class="panel-body palette-Red-100 bg">
        <i class="material-icons medium palette-Red-500 text">warning</i>
        <br />
        <h3>Unauthorized</h3>
      </div>
    </div>
  </div>
</div>

<div ng-controller="InstitutesController as ctrl" ng-if="profile.isAdmin">
  <div class="panel panel-default" ng-if="!datactrl.loading">
    <!-- PANEL HEADING START -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <i class="material-icons">face</i> Institutes list
      </h4>
    </div>
    <!-- PANEL HEADING END -->

    <!-- PANEL BODY + TABLE START -->
    <div class="panel-body">
      <div class="table-responsive">
        <table
          ng-show="ctrl.institutes && ctrl.institutes.length"
          class="table table-hover table-condensed"
          ts-filter-fields="shortname,fullname"
          ts-wrapper
        >
          <thead>
            <tr>
              <th ts-criteria="shortname">Short name</th>
              <th ts-criteria="fullname">Full name</th>
              <th colspan="2" style="width: 1%"></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="data in ctrl.institutes" ts-repeat>
              <td>{{data.shortname}}</td>
              <td>{{data.fullname}}</td>

              <td ng-click="ctrl.updateInstitute(data)">
                <i class="material-icons">edit</i>
              </td>
              <td ng-click="ctrl.deleteInstitute(data.id)">
                <i class="material-icons palette-Red-500 text">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- PANEL BODY +  TABLE END -->

    <!-- PANEL FOOTER START -->
    <div class="panel-footer">
      <div class="text-right">
        <button class="btn btn-success" ng-click="ctrl.addNewInstitute()">
          Add new institute
        </button>
      </div>
    </div>
    <!-- PANEL FOOTER END -->
  </div>
  <!-- PANEL END -->
</div>
