<div ng-if="ctrl.loading" ng-include="main.templateDir + 'loader.html'"></div>

<div class="row" ng-if="!profile.isAdmin">
  <div class="col-xs-12 text-center">
    <div class="panel panel-danger">
      <div class="panel-body palette-Red-100 bg">
        <i class="material-icons medium palette-Red-500 text">warning</i>
        <br />
        <h3>Unauthorized</h3>
      </div>
    </div>
  </div>
</div>

<div ng-controller="GroupsController as ctrl" ng-if="profile.isAdmin">
  <div class="panel panel-default" ng-if="!datactrl.loading">
    <!-- PANEL HEADING START -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <i class="material-icons">face</i> Groups list
      </h4>
    </div>
    <!-- PANEL HEADING END -->

    <!-- PANEL BODY + TABLE START -->
    <div class="panel-body">
      <div class="table-responsive">
        <table
          ng-show="ctrl.groups && ctrl.groups.length"
          class="table table-hover table-condensed"
          ts-filter-fields="shortname,fullname,irods_group,_belongs_to[0].shortname,_pi[0].email"
          ts-wrapper
        >
          <thead>
            <tr>
              <th ts-criteria="_belongs_to[0].shortname">Institute</th>
              <th ts-criteria="shortname">Short name</th>
              <th ts-criteria="irods_group">iRODS Group</th>
              <th ts-criteria="fullname">Full name</th>
              <th ts-criteria="_pi[0].email">Principal Investigator</th>
              <th colspan="2" style="width: 1%"></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="data in ctrl.groups" ts-repeat>
              <td>{{data._belongs_to[0].shortname}}</td>
              <td>{{data.shortname}}</td>
              <td>{{data.irods_group}}</td>
              <td>{{data.fullname}}</td>
              <td>{{data._pi[0].email}}</td>

              <td ng-click="ctrl.updateGroup(data)">
                <i class="material-icons">edit</i>
              </td>
              <td ng-click="ctrl.deleteGroup(data.id)">
                <i class="material-icons palette-Red-500 text">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- PANEL BODY +  TABLE END -->

    <!-- PANEL FOOTER START -->
    <div class="panel-footer">
      <div class="text-right">
        <button class="btn btn-success" ng-click="ctrl.addNewGroup()">
          Add new group
        </button>
      </div>
    </div>
    <!-- PANEL FOOTER END -->
  </div>
  <!-- PANEL END -->
</div>
