<div ng-controller="StatsController as ctrl">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="material-icons">trending_up</i> Repository statistics
        </h4>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <tr>
              <th>Number of contributors</th>
              <td>{{ctrl.stats.num_users}}</td>
            </tr>
            <tr>
              <th>Number of studies</th>
              <td>{{ctrl.stats.num_studies}}</td>
            </tr>

            <tr>
              <th>Number of datasets</th>
              <td>{{ctrl.stats.num_datasets}}</td>
            </tr>
            <tr>
              <th></th>
              <td>
                <span
                  ng-repeat="(key, value) in ctrl.stats.num_datasets_per_institute"
                >
                  {{key}}: {{value}}<br />
                </span>
              </td>
            </tr>

            <tr>
              <th>Number of datasets with g.vcf files</th>
              <td>{{ctrl.stats.num_datasets_with_gvcf}}</td>
            </tr>

            <tr>
              <th></th>
              <td>
                <span
                  ng-repeat="(key, value) in ctrl.stats.num_datasets_with_gvcf_per_institute"
                >
                  {{key}}: {{value}}<br />
                </span>
              </td>
            </tr>

            <tr>
              <th>Number of datasets with vcf files</th>
              <td>{{ctrl.stats.num_datasets_with_vcf}}</td>
            </tr>

            <tr>
              <th></th>
              <td>
                <span
                  ng-repeat="(key, value) in ctrl.stats.num_datasets_with_vcf_per_institute"
                >
                  {{key}}: {{value}}<br />
                </span>
              </td>
            </tr>

            <tr>
              <th>Number of files</th>
              <td>{{ctrl.stats.num_files}}</td>
            </tr>
            <tr>
              <th></th>
              <td>
                <span ng-repeat="(key, value) in ctrl.stats.num_files_by_type">
                  {{key}}: {{value}}<br />
                </span>
              </td>
            </tr>

            <tr>
              <th>Number of genes</th>
              <td>{{ctrl.stats.num_genes}}</td>
            </tr>
            <tr>
              <th>Number of variants</th>
              <td>{{ctrl.stats.num_variants}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
