<div 
	ng-if="datactrl.loadingSamples" 
	ng-include="main.templateDir + 'loader.html'">
</div>
		
<div ng-controller='PhenotypeController as pheno'>
<br>

<div class='panel panel-default' ng-if='!datactrl.loadingPhenotypes'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>face</i>
		<ng-pluralize count="datactrl.phenotypes.length"
			when="{
			'0': 'This study contains no phenotype',
			'one': 'This study contains one phenotype',
			'other': 'This study contains {} phenotypes'
		}">
		</ng-pluralize>
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>
<div class="table-responsive">
    <table 
    	ng-show="datactrl.phenotypes" 
    	class='table table-hover table-condensed table-borderless' 
    	ts-wrapper 
    	ts-filter-fields="accession,name,sex,_birth_place[0].city,_birth_place[0].region">

		<thead>
	        <tr>
	        	<th ts-criteria="accession" ts-default="descending">Accession</th>
	            <th ts-criteria='name'>Name</th>
	            <th ts-criteria='sex'>Sex</th>
	            <th ts-criteria='data._birth_place[0].city'>Place of birth</th>
	            <th ts-criteria='birthday'>Date of birth<br>(death)</th>
	            <th>HPO terms</th>
	            <th>Relationships</th>
	            <th>Identified Mutations</th>
	            <th colspan=2 style='width:1%;'></th>
	        </tr>
	    </thead>

		<tbody>
			<tr ng-repeat="data in datactrl.phenotypes" ts-repeat>
					
				<td class='accession'> 
					{{data.accession}}
				</td>
				<td>{{data.name}}</td>
				<td>{{data.sex}}</td>
				<td ng-if="data._birth_place[0]">
					{{data._birth_place[0].city}}
					({{data._birth_place[0].region}})
				</td>
				<td ng-if="!data._birth_place[0]">
					-
				</td>
				<td>
					{{data.birthday | date:'dd/MM/yyyy'}}
					<span ng-if='data.deathday'>
						<br>	
						({{data.deathday | date:'dd/MM/yyyy'}})
					</span>
				</td>
				<td>
			      	<p ng-repeat="value in data._hpo" 
				      	uib-tooltip="{{value.label}} [{{value.public}}]">
						{{value.hpo_id}}
				    </p>
				 </td>
				<td>

					<div class='label label-default' style='margin-right:3px;' ng-repeat="value in data._father">
	        		Father of <strong>{{value.name}}</strong>
	        		<span ng-click='pheno.deleteRelationship(datactrl, data.accession, value.accession, "father");' class="glyphicon glyphicon-remove"></span>
					</div>

					<div class='label label-default' style='margin-right:3px;' ng-repeat="value in data._mother">
	        		Mother of <strong>{{value.name}}</strong>
	        		<span ng-click='pheno.deleteRelationship(datactrl, data.accession, value.accession, "mother");' class="glyphicon glyphicon-remove"></span>
					</div>

					<div class='label label-default' style='margin-right:3px;' ng-repeat="value in data._son">
		        	Son of <strong>{{value.name}}</strong>
	        		<span ng-click='pheno.deleteRelationship(datactrl, data.accession, value.accession, "son");' class="glyphicon glyphicon-remove"></span>
					</div>

				</td>

				<td>
					<div ng-repeat="gene in data.identified_genes">
						<p uib-tooltip="
							{{gene.genename}} {{gene.genome}} {{gene.chromosome}}:{{gene.start}}-{{gene.end}}

							{{gene.reference}}->{{gene.alteration}} ({{gene.zygosity}})
							">
							{{gene.genename}}
						</p>
					</div>
				</td>

				<td 
					ng-if="!datactrl.studyInfo.readonly"
					ng-click='datactrl.updatePhenotype(data)'>
					<i class='material-icons'>edit</i>
				</td>
				<td 
					ng-if="!datactrl.studyInfo.readonly"
					ng-click='datactrl.deletePhenotype(data.accession)'>
					<i class='material-icons palette-Red-500 text'>delete</i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>

	<button 
		ng-if="!datactrl.studyInfo.readonly"
		class="btn btn-success" ng-click="datactrl.showNewPhenotype()">
		Add phenotype
	</button>

</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->



<div
	class='panel panel-default'
	ng-class='{"palette-Grey-500 text": datactrl.phenotypes.length <= 1}'
	ng-if='!datactrl.loadingPhenotypes'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>wc</i> Define relationships
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>
	<div ng-if='datactrl.phenotypes.length <= 1'>
		<p><i>You need at least 2 phenotypes to define relationships</i></p>
	</div>

	<div ng-if='datactrl.phenotypes.length > 1'>

		<div class="row">

		    <div class="col-xs-4">
			<div class="form-group">
			<label>First parent</label>
			<select class="form-control" ng-model='pheno.parent1'>
				<option
					ng-repeat="(key, value) in datactrl.phenotypes"
					ng-value="{{key}}">
						{{value.name}}
				</option>
	    	</select>
	    	</div>
	    	</div>


    		<div class='col-xs-2'>
			<div class="form-group">
			<label>Relationship</label>
	    	<select class="form-control" ng-model='pheno.relation'>
	    		<option
	    			value='mother'
	    			ng-if="pheno.parent1 && datactrl.phenotypes[pheno.parent1].sex != 'male'"
	    		>mother of
	    		</option> 

	    		<option
	    			value='father'
	    			ng-if="pheno.parent1 && datactrl.phenotypes[pheno.parent1].sex != 'female'"
	    		>father of
	    		</option> 
	    	</select>
	    	</div>
	    	</div>

		<div class='col-xs-4'>
		<div class="form-group">
		<label>Second parent</label>
		<select class="form-control" ng-model='pheno.parent2'>
			<option
				ng-repeat="(key, value) in datactrl.phenotypes"
				ng-value="{{key}}"
				ng-if='value.accession != pheno.parent1.accession'>
					{{value.name}}
			</option>
    	</select>
    	</div>
    	</div>


    	<div class='col-xs-2'>
		<br>
    	<button class='btn btn-success' ng-click='pheno.saveRelationship(datactrl);'>
    		CREATE
		</button>
    	</div>

    	</div>
	</div>
</div>
<!-- PANEL BODY +  TABLE END -->

</div>
<!-- PANEL END -->
</div>

</div>