<div 
	ng-if="datactrl.loadingDatasets" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<br>

<div class='panel panel-default' ng-if='!datactrl.loadingDatasets'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>attach_file</i>
		Access and security
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>
<div class="table-responsive">
    <table ng-show="datactrl.datasets" class='table table-hover table-condensed table-borderless'>

		<thead>
	        <tr>
				<th colspan=2>Dataset</th>
				<th>Allowed users</th>
				<th>Add a share</th>
	        </tr>
	    </thead>

			<tr ng-repeat="data in datactrl.datasets">
	            <td class='accession'> 
	                {{data.accession}}
	            </td>

				<td>
					{{data.name}}
				</td>

				<td
					ng-if="datactrl.access[data.accession].loading" 
					ng-include="main.templateDir + 'loader.html'">
				</td>

				<td
					ng-if="!datactrl.access[data.accession].loading">

						<div class='label label-success' style='margin-right:3px;'
							ng-repeat='access in datactrl.access[data.accession].access'>

								<span ng-if='access.type != "members of group"'>
									{{access.type}}: {{access.name}} {{access.surname}}
								</span>

								<span uib-tooltip = "Principal investigator: {{access._pi[0].name}} {{access._pi[0].surname}}."
									ng-if='access.type == "members of group"'>
									{{access.type}}: {{access._belongs_to[0].shortname}} {{access.shortname}}
								</span>
						</div>
				</td>

				<td>
					<a ng-click="datactrl.shareDataset(data.accession)">
						<i class='material-icons'>share</i>
					</a>
				</td>

			</tr>
		</table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>
</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->
</div>

