<div ng-controller='DatasetsController as datactrl'>

<div ng-if='!datactrl.resourceExists'>
	<div ng-include="main.blueprintTemplateDir+'resource_notfound.html'"></div>
</div>

<div ng-if='datactrl.resourceExists'>

<div ng-include="main.blueprintTemplateDir+'breadcrumb.html'"></div>

<div class="page-header text-center">
	<h3>Study: {{datactrl.studyInfo.name}}</h3>
	<h5 class='text-justify'><i>{{datactrl.studyInfo.description}}</i></h5>

	<!-- INHERITANCE DISABLED / ENABLED  -->
	<span class="label label-success" 
			ng-if='datactrl.studyInfo.acl_inheritance == "Disabled"'>
		ACL_INHERITANCE: {{datactrl.studyInfo.acl_inheritance}}
	</span>

	<span class="label label-danger"
			ng-if='datactrl.studyInfo.acl_inheritance == "Enabled"'>
		ACL_INHERITANCE: {{datactrl.studyInfo.acl_inheritance}}
	</span>
	<!-- - -->

	<span 
		ng-repeat='acl in datactrl.studyInfo["acl"]' 
		class="label" 
		ng-if="acl != 'object'"
	>

	    <span 
		    ng-if="acl[0] == 'a07gen00'"
	    	class='palette-Red-500 text' 
	    	ng-class="{'palette-Green-500': acl[2] == 'own'}"
		>
			ACL: {{acl[0]}}:{{acl[2]}}
	    </span>

	    <span 
	    	ng-if="acl[0] != 'a07gen00' && acl[0] != 'g'"
	    	class='palette-Red-500 text'
	    	ng-class="{'palette-Green-500': acl[2] == 'read'}"
		>
			ACL: {{acl[0]}}:{{acl[2]}}
	    </span>

	    <span 
	    	ng-if="acl[0] == 'g'"
	    	class='palette-Red-500 text' 
			ng-class="{'palette-Green-500': acl[3] == 'read' && datactrl.studyInfo.access_type=='public'}"
		>
			ACL: {{acl[1]}}:{{acl[3]}}
	    </span>
	</span>

	<span class="label label-success"
					ng-if='datactrl.studyInfo.access_type=="private"'>
		Access: {{datactrl.studyInfo.access_type}}
	</span>

	<span class="label label-success"
					ng-if='datactrl.studyInfo.access_type=="restricted"'>
		Access: {{datactrl.studyInfo.access_type}}
	</span>

	<span class="label label-danger"
					ng-if='datactrl.studyInfo.access_type=="public"'>
		Access: {{datactrl.studyInfo.access_type}}
	</span>

</div>

<div 
	class='panel panel-default'
	ng-if='datactrl.batch_operations && datactrl.batch_operations.length'
>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>restore</i> Active batch operations [{{datactrl.batch_operations.length}}]
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>
<div class="table-responsive">
    <table class='table table-hover table-condensed table-borderless'>

		<thead>
        	<tr class='grey lighten-2'>
        		<th>Dataset</th>
        		<th>File</th>
        		<th>File name</th>
        		<th>Import status</th>
	        </tr>
        </thead>
        <tbody>
		    <tbody>
			<tr ng-repeat="data in datactrl.batch_operations">

				<td> 
					{{data.dataset}}
				</td>

				<td> 
					{{data.file}}
				</td>

				<td>{{data.filename}}</td>
				<td>{{data.status}}</td>

		    </tr>
		    </tbody>
		</table>
        </tbody>
    </table>
   </div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>
</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->



<uib-tabset active="active">

<uib-tab index="0" heading="Datasets ({{datactrl.datasetsCount}})">
	<div ng-include="main.blueprintTemplateDir+'study.datasets.html'">
	</div>
</uib-tab>

<uib-tab index="1" heading="Stage" ng-if="!datactrl.studyInfo.readonly">
	<div ng-include="main.blueprintTemplateDir+'stage_area.html'">
	</div>
</uib-tab>

<uib-tab index="2" heading="Phenotypes ({{datactrl.phenotypes.length}})">
	<div ng-include="main.blueprintTemplateDir+'study.phenotypes.html'">
	</div>
</uib-tab>

<uib-tab index="3" heading="Technicals ({{datactrl.technicalmeta.length}})">
	<div ng-include="main.blueprintTemplateDir+'study.technical_meta.html'">
	</div>
</uib-tab>

<uib-tab index="4" heading="Samples ({{datactrl.samples.length}})">
	<div ng-include="main.blueprintTemplateDir+'study.samples.html'">
	</div>
</uib-tab>

<uib-tab index="5" heading="Resources ({{datactrl.resourcesCount}})">
	<div ng-include="main.blueprintTemplateDir+'study.resources.html'">
	</div>
</uib-tab>

<uib-tab index="6" heading="Access &amp; Security" ng-if="!datactrl.studyInfo.readonly">
	<div ng-include="main.blueprintTemplateDir+'study.authorizations.html'">
	</div>
</uib-tab>

</uib-tabset>
</div>
</div>
