<div 
	ng-if="datactrl.loadingResources" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<br>

<div class='panel panel-default' ng-if='!datactrl.loadingResources'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>attach_file</i>
		<ng-pluralize count="datactrl.resourcesCount"
			when="{
			'0': 'This study contains no resources',
			'one': 'This study contains one resource',
			'other': 'This study contains {} resources'
		}">
		</ng-pluralize>
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>

<div flow-init="datactrl.flowOptionsResources()"
     flow-files-submitted="$flow.upload()"
     ng-controller='NgFlowController'
     flow-file-error='showNgUploadErrors($file, $message, $flow)'
     flow-file-success="$file.msg = $message"
     flow-file-error='datactrl.uploadFileError($file, $message, $flow)'
     >

  <br><br>

  <div class="well">
	<span class="btn btn-small btn-info" flow-btn><i class="icon icon-file"></i>Upload a file</span>
	<span class='text-right'>
	    <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
	    <a class="btn btn-small btn-warning" ng-click="$flow.pause()">Pause all</a>
	    <a class="btn btn-small btn-danger" ng-click="$flow.cancel()">Cancel all</a>
    </span>
    <span ng-if='$flow.getSize() > 0' class="label label-info">Total Size: {{$flow.getSize() | bytes}}</span>
  </div>
  <div class='table-responsive' ng-if='$flow.files.length'>
  <table class='table table-hover'>
  		<tr>
  			<th>#</th>
			<th>name</th>
			<th>size</th>
			<!-- <th>relativePath</th> -->
			<!-- <th>uniqueIdentifier</th> -->
			<!-- <th>chunks.length</th> -->
			<th>progress</th>
  		</tr>
    <tr ng-repeat="file in $flow.files">
		<td>{{$index+1}}</td>
		<td>{{file.name}}</td>
		<td>{{file.size | bytes}}</td>
		<!-- <td>{{file.relativePath}}</td> -->
		<!-- <td>{{file.uniqueIdentifier}}</td> -->
		<!-- <td>{{file.chunks.length}}</td> -->
		<td ng-include="main.templateDir + 'ngflow.progressbar.html'"></td>
    </tr>
  </table>
</div>
</div>

<div class="table-responsive">
    <table ng-show="datactrl.resources" class='table table-hover table-condensed table-borderless' ts-wrapper>

		<thead>
	        <tr>
	            <th ts-criteria="accession" ts-default="descending">Accession</th>
	            <th ts-criteria='name'>File</th>
	            <th ts-criteria='content_length | parseInt'>Size</th>
	            <th ts-criteria='type'>Type</th>
	            <th ts-criteria='status'>Status</th>
	            <th style='width:1%;'></th>
	        </tr>
	    </thead>

		<tbody>
			<tr ng-repeat="data in datactrl.resources" ts-repeat>
	            <td class='accession'> 
	                <b> {{data.accession}} </b>
	            </td>

	            <td style="width:1%" ng-if="data.status == 'import'"><i class='material-icons'>error</i></td>

	            <td>{{data.name}}</td>

	            <td>{{data.content_length | bytes}}</td>

	            <td>{{data.type}}</td>
	            <td>{{data.status}}</td>

				<td 
					ng-if="!datactrl.studyInfo.readonly"
					ng-click='datactrl.deleteResource(data.accession)'>
					<i class='material-icons palette-Red-500 text'>delete</i>
				</td>

	            <td ng-if='profile.isAdmin'>
	                <i ng-click='datactrl.reimport(data.accession);' class='material-icons'>
	                	refresh
	                </i>
	            </td>

			</tr>
		</tbody>
	</table>
</div>
</div>

<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>
</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->
</div>



<div class='panel panel-default' ng-if='!datactrl.loadingResources'>


<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		Pedigree files
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY -->
<div class='panel-body'>

You can create batches of phenotypes by importing pedigree files as resources in a study.
<br>
Here a template to create a .ped file
<br>

<blockquote>
<pre>
#family	name	father	mother	sex	birthplace	birthday	deathday	HPO	dataset
family1	IND_F	0	0	1	Roma	01/01/1940	31/08/2016	-	dataset_name1
family1	IND_M	0	0	2	Milano	01/01/1950	-	-	dataset_name2,dataset_name3
family1	IND_S1	IND_F	IND_M	1	Torino	01/01/1960	-	HP:0000924
family1	IND_S2	IND_F	IND_M	1	Firenze	01/01/1970	31/08/2016	HP:0001699,HP:0000924
family1	IND_D1	IND_F	IND_M	2	Napoli	01/01/1980	-	-
family1	IND_D2	IND_F	IND_M	2	Venezia	01/01/1990	-	-
</pre>
</blockquote>

</div>

<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>
</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->


<div class='panel panel-default' ng-if='!datactrl.loadingResources'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		Technical files
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY -->
<div class='panel-body'>

You can create batches of technical set of metadata by importing technical files as resources in a study.
<br>
Here a template to create a .tech file
<br>

<blockquote>
<pre>
#name	date	platform	kit	dataset
T1	01/01/2014	Illumina	Illumina - trusight	dataset_name1
T2	01/01/2015	SOLiD	NimbleGen - Exome_UTR	dataset_name2,dataset_name3
</pre>
</blockquote>

</div>

<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>
</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->