<nav
  class="navbar navbar-default"
  ng-if="!main.avoidTheToolbar"
  ng-class="main.toolbarBgColor"
>
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>
        <a ui-sref="public.welcome"> {{ myproject }} </a>
      </h3>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li ng-if="logged">
          <a href ui-sref="logged.study"> Archive </a>
        </li>

        <!--       <li ng-if="logged">
        <a href ui-sref="logged.specialsearch">
          Search
        </a>
      </li> -->

        <li ng-if="logged">
          <a href ui-sref="logged.stats"> Stats </a>
        </li>

        <li ng-if="profile.isAdmin">
          <a href ui-sref="logged.admin.users"> Users </a>
        </li>
        <li ng-if="profile.isAdmin">
          <a href ui-sref="logged.admin.groups"> Groups </a>
        </li>
        <li ng-if="profile.isAdmin">
          <a href ui-sref="logged.admin.institutes"> Institutes </a>
        </li>

        <li ng-if="profile.isAdmin">
          <a href ui-sref="logged.admin.queue"> Queue </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href ui-sref="logged.profile" ng-if="logged">
            <i
              uib-tooltip="Enter profile {{profile.email}}"
              tooltip-placement="bottom"
              class="material-icons"
              >people</i
            >
          </a>
        </li>

        <!-- login/logout buttons -->
        <li>
          <a href ui-sref="public.login" ng-if="!logged"> Login </a>

          <a
            ng-controller="LogoutController as logout"
            ng-click="logout.exit()"
            ng-if="logged"
          >
            <i
              class="material-icons"
              uib-tooltip="Logout"
              tooltip-placement="bottom"
              >exit_to_app</i
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
