<div class="d-flex" id="wrapper" *ngIf="study">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="px-3 mt-4 mb-2 border-bottom">
      <h4 class="mb-0">Study: {{ study?.name }}</h4>
      <p class="text-muted">{{ study?.description }}</p>
    </div>
    <div class="nav-sidebar">
      <ul
        ngbNav
        #nav="ngbNav"
        class="nav flex-column"
        [(activeId)]="active"
        (navChange)="onNavChange($event)"
      >
        <ng-container *ngFor="let link of links">
          <li [ngbNavItem]="link.fragment">
            <a ngbNavLink>
              <div class="nav-icon-container">
                <i class="fas" [ngClass]="link.icon"></i>
              </div>
              <span>{{ link.title }}</span>
              <span class="badge badge-secondary float-right">{{
                link?.count
              }}</span>
            </a>
            <ng-template ngbNavContent>
              <container-element [ngSwitch]="link.fragment">
                <nig-datasets
                  *ngSwitchCase="'datasets'"
                  [studyUUID]="study.uuid"
                  [readonly]="study.readonly"
                ></nig-datasets>
                <nig-technicals
                  *ngSwitchCase="'technicals'"
                  [studyUUID]="study.uuid"
                  [readonly]="study.readonly"
                ></nig-technicals>
                <nig-phenotypes
                  *ngSwitchCase="'phenotypes'"
                  [studyUUID]="study.uuid"
                  [readonly]="study.readonly"
                ></nig-phenotypes>
              </container-element>
            </ng-template>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
