:host {
  height: 100% !important;
}

#wrapper {
  overflow-x: hidden;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.nav-icon-container {
  display: inline-flex;
  margin-right: 8px;
}

.nav-sidebar li > a {
  color: #525252;
  text-decoration: none;
}

.nav-sidebar li > a:hover {
  background: rgba(0, 0, 0, 0.04);
}

.nav-sidebar li > a.active {
  font-weight: 600;
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 4px 0 0 #666;
}
