<div class="modal-header">
  <h4 class="modal-title">Edit Relationships</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body p-0 mb-4">
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <form #relForm="ngForm" (ngSubmit)="save()">
          <div class="mb-3">
            <label
              ><i class="fa fa-person-dress fa-lg me-2 mb-4"></i>Mother</label
            >
            <ng-select
              [items]="females"
              bindLabel="name"
              bindValue="uuid"
              [(ngModel)]="mother"
              [ngModelOptions]="{ standalone: true }"
            >
            </ng-select>
          </div>
          <div class="mb-3">
            <label><i class="fa fa-person fa-lg me-2 mb-4"></i>Father</label>
            <ng-select
              [items]="males"
              bindLabel="name"
              bindValue="uuid"
              [(ngModel)]="father"
              [ngModelOptions]="{ standalone: true }"
            >
            </ng-select>
          </div>
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="!hasChanged()"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
