<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">
            <i class="fas fa-flask"></i> Studies
            <span class="float-right"
              ><i
                class="fas fa-sync-alt clickable"
                ngbTooltip="Reload the list of studies"
                (click)="list();"
              ></i
            ></span>
          </h4>
        </div>

        <div class="card-block">
          <div class="table-responsive">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control data-filter"
                    placeholder="Type to filter studies"
                    (keyup)="updateFilter($event)"
                  />
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-secondary" (click)="create()">
                    <i class="fas fa-plus"></i> new {{resource_name}}
                  </button>
                </div>
              </div>
            </div>
            <div class="table-wrapper" #tableWrapper>
              <ngx-spinner [fullScreen]="false"></ngx-spinner>
						  <ngx-datatable
						    #studiesTable
						    class="bootstrap expandable"
						    [rows]="data"
						    [columns]="columns"
						    [columnMode]="ColumnMode.flex"
						    [headerHeight]="40"
						    [footerHeight]="40"
						    [externalPaging]="true"
						    [count]="paging.dataLength"
						    [limit]="paging.itemsPerPage"
						    [offset]="paging.page"
						    [rowHeight]="'auto'"
						  >
						  	<!-- Column Templates -->
						    <!-- Name -->
						    <ngx-datatable-column
						      prop="name"
						      [flexGrow]="2"
						    >
						      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						        <a [routerLink]="[row.uuid]" [state]="{
						        uuid: row.uuid,
						        name: row.name,
						        description: row.description,
						        datasets: row.datasets,
						        phenotypes: row.phenotypes,
						        technicals: row.technicals
						      }">{{ value }}</a>
						      </ng-template>
						  	</ngx-datatable-column>
						  	<!-- Description -->
						  	<ngx-datatable-column
						      prop="description"
						      [flexGrow]="2"
						    >
						      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
						        <span>{{ value }}</span>
						      </ng-template>
						  	</ngx-datatable-column>
						  	<!-- Controls -->
						    <ngx-datatable-column
						      width="60"
						      headerClass="px-0"
						      [resizeable]="false"
						      [sortable]="false"
						      [draggable]="false"
						      [canAutoResize]="false"
						    >
						    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
					        <div class="btn-toolbar justify-content-end" role="toolbar">
					          <div class="btn-group mr-1" role="group">
					            <button
					              class="btn p-0 mr-1"
					              (click)="update(row)"
					            >
					              <i class="fa fa-edit"></i>
					            </button>
					            <button
					              class="btn p-0"
					              (click)="delete(row.uuid)"
					            >
					              <i class="fa fa-trash red"></i>
					            </button>
					          </div>
					        </div>
					      </ng-template>
						  	</ngx-datatable-column>
						  </ngx-datatable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>