<div class="card mt-2">
	<div class="card-header">
		<h4 class="mb-0">
		<i class="fas fa-users"></i> Samples
		<span class="float-right"
			><i
			class="fas fa-sync-alt clickable fa-sm"
			ngbTooltip="Reload the list of samples"
			(click)="list();"
			></i
		></span>
		</h4>
	</div>
	<div class="card-block">
		<div class="table-responsive">
			<div class="table-wrapper" #tableWrapper>
				<ngx-spinner [fullScreen]="false"></ngx-spinner>
				<ngx-datatable
					#samplesTable
					class="bootstrap expandable"
					[rows]="data"
					[columns]="columns"
					[columnMode]="ColumnMode.flex"
					[headerHeight]="40"
					[footerHeight]="40"
					[externalPaging]="true"
					[count]="paging.dataLength"
					[limit]="paging.itemsPerPage"
					[offset]="paging.page"
					[rowHeight]="'auto'"
				>
				  <!-- Column Templates -->
					<!-- Name -->
					<ngx-datatable-column prop="name" [flexGrow]="1">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
						</ng-template>
					</ngx-datatable-column>
					<!-- Sex -->
					<ngx-datatable-column prop="sex" [flexGrow]="0.5" [sortable]="false">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{value}}
						</ng-template>
					</ngx-datatable-column>
					<!-- Birth Place-->
					<ngx-datatable-column prop="birth_place" name="Birth Place" [flexGrow]="1">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{value || "-"}}
						</ng-template>
					</ngx-datatable-column>
					<!-- Birthday -->
					<ngx-datatable-column prop="birthday" name="Birth Date" [flexGrow]="1">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{value | date: "dd-MM-yyyy"}}
						</ng-template>
					</ngx-datatable-column>
					<!-- Deathday -->
					<ngx-datatable-column prop="deathday" name="Death Date" [flexGrow]="1">
						<ng-template let-value="value" ngx-datatable-cell-template>
							<span *ngIf="value; else noValue">{{
			          value | date: "dd-MM-yyyy"
			        }}</span>
						</ng-template>
					</ngx-datatable-column>
					<!-- HPO -->
					<ngx-datatable-column prop="hpo" name="HPO" [flexGrow]="1" [sortable]="false">
						<ng-template let-value="value" ngx-datatable-cell-template>
							{{ value }}
						</ng-template>
					</ngx-datatable-column>
					<!-- Controls -->
			    <ngx-datatable-column
			      width="60"
			      headerClass="px-0"
			      [resizeable]="false"
			      [sortable]="false"
			      [draggable]="false"
			      [canAutoResize]="false"
			    >
				    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
			        <div class="btn-toolbar justify-content-end" role="toolbar">
			          <div class="btn-group mr-1" role="group">
			            <button
			              class="btn p-0 mr-1"
			              (click)="update(row)"
			            >
			              <i class="fa fa-edit"></i>
			            </button>
			            <!-- <button
			              class="btn p-0"
			              (click)="delete(row.uuid)"
			            >
			              <i class="fa fa-trash red"></i>
			            </button> -->
			          </div>
			        </div>
			      </ng-template>
			  	</ngx-datatable-column>
				</ngx-datatable>
				<ng-template #noValue>-</ng-template>
			</div>
		</div>
	</div>
</div>